<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Viru♥</title>


    <!--    bootstrap linking codes -->
    <link rel="stylesheet" href="../static/bootstrap-5.2/css/bootstrap.min.css">
    <script src="../static/bootstrap-5.2/js/bootstrap.min.js"></script>

    <!--    sweet alert code links-->
    <link rel="stylesheet" href="../static/sweetAlert/sweetalert2.min.css">
    <script src="../static/sweetAlert/sweetalert2.all.min.js"></script>


    <!--    data table links-->
    <script src="../static/datatable/js/dataTables.min.js"></script>
    <script src="../static/datatable/js/dataTables.buttons.min.js"></script>
    <script src="../static/datatable/js/buttons.dataTables.min.js"></script>
    <script src="../static/datatable/js/jszip.min.js"></script>
    <script src="../static/datatable/js/pdfmake.min.js"></script>
    <script src="../static/datatable/js/vfs_fonts.js"></script>
    <link rel="stylesheet" href="../static/datatable/css/dataTables.dataTables.min.css">
    <link rel="stylesheet" href="../static/datatable/css/buttons.dataTables.min.css">


    <!--   controller file linking code -->
    <script src="../static/controllerJS/dashboard.js"></script>

    <!--    service files link-->
    <script src="../static/services/itemCategoryService.js"></script>
    <script src="../static/services/itemMasterService.js"></script>
    <script src="../static/services/itemSizeService.js"></script>
    <script src="../static/services/itemStatusService.js"></script>

    <!--    helping files link-->
    <script src="../static/commonJS/dropDownGenerator.js"></script>
    <script src="../static/validators/textValidator.js"></script>
</head>
<body>

<!--    nav bar start-->
<nav class="navbar navbar-expand-lg pb-3" style="background-color: #064e3b;" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#" style="color: whitesmoke">Viru</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" style="color: whitesmoke">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: whitesmoke">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: whitesmoke">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: whitesmoke">Something</a>
                </li>
            </ul>
        </div>

        <div class="text-end me-3">
            <div id="currentDate" style="font-size: 14px; color: whitesmoke;"></div>
            <div id="currentTime" style="font-size: 22px; font-weight: bold; color: whitesmoke;"></div>
        </div>

    </div>
</nav>
<!--    nav bar end-->



<!--collapse button start-->
<div class="row mt-5 text-center">
    <p>
        <a class="btn" style="background-color: #064e3b !important; color: whitesmoke" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Inventory management</a>
        <button class="btn" style="background-color: #064e3b !important; color: whitesmoke" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Assert Management</button>
        <button class="btn" style="background-color: #064e3b !important; color: whitesmoke" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Toggle both elements</button>
    </p>


    <div class="row">
        <div class="col-md-6">
                    <div class="collapse multi-collapse" id="multiCollapseExample1">
                        <div class="card card-body" style="background-color: #ecfdf5">
                            Inventory Management Section
                        </div>
                    </div>
        </div>
        <div class="col-md-6">
                        <div class="collapse multi-collapse" id="multiCollapseExample2">
                            <div class="card card-body" style="background-color: #ecfdf5">
                                Assert Management Section
                            </div>
                        </div>
        </div>
    </div>
</div>
<!--collapse button end-->


</body>
</html>