<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item Master</title>

<!--    bootstrap linking codes -->
    <link rel="stylesheet" href="../static/bootstrap-5.2/css/bootstrap.min.css">
    <script src="../static/bootstrap-5.2/js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>


    <!--   controller file linking code -->
    <script src="../static/controllerJS/itemMaster.js"></script>

</head>
<body>
<h1 class="text-center bg-emerald-700">Item Master</h1>
</body>
</html>