<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item Category Master</title>


    <!--    bootstrap linking codes -->
    <link rel="stylesheet" href="../static/bootstrap-5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="../static/bootstrap-5.2/js/bootstrap.min.js"></script>

    <!--    tailwind linking code-->
    <script src="../static/tailwind/browser@4.js"></script>

    <!--    sweet alert code links-->
    <link rel="stylesheet" href="../static/sweetAlert/sweetalert2.min.css">
    <script src="../static/sweetAlert/sweetalert2.all.min.js"></script>


    <!--    data table links-->
    <script src="../static/datatable/js/dataTables.min.js"></script>
    <script src="../static/datatable/js/dataTables.buttons.min.js"></script>
    <script src="../static/datatable/js/buttons.dataTables.min.js"></script>
    <script src="../static/datatable/js/jszip.min.js"></script>
    <script src="../static/datatable/js/pdfmake.min.js"></script>
    <script src="../static/datatable/js/vfs_fonts.js"></script>
    <link rel="stylesheet" href="../static/datatable/css/dataTables.dataTables.min.css">
    <link rel="stylesheet" href="../static/datatable/css/buttons.dataTables.min.css">


    <!--   controller file linking code -->
    <script src="../static/controllerJS/itemCategoryMaster.js"></script>

    <!--    service files link-->
    <script src="../static/services/itemCategoryService.js"></script>
    <script src="../static/services/itemMasterService.js"></script>
    <script src="../static/services/itemSizeService.js"></script>
    <script src="../static/services/itemStatusService.js"></script>

    <!--    helping files link-->
    <script src="../static/commonJS/dropDownGenerator.js"></script>
    <script src="../static/validators/textValidator.js"></script>



</head>
<body>

</body>
</html>